<h4>ユーザー招待</h4>

<p>招待したいユーザーのユーザーコードを入力してください</p>

<%= form_with url: group_invites_path(@group) do |f| %>
  <div class='mb-2'>
    <%= f.label :unique_code, 'ユーザーコード', class: 'fw-bolder' %>
    <%= f.text_field :unique_code, class: 'form-control' %>
  </div>

  <%= f.submit '招待する', class: 'btn btn-success' %>
  <%= link_to 'キャンセル', group_path(@group), class: 'btn btn-secondary' %>
<% end %>
