<div class='w-50 mx-auto text-center mt-4'>
  <h4>グループ作成</h4>
  <%= form_with model: @group do |f| %>
    <div class='mb-2'>
      <% input_errors = @group.errors.objects %>
      <% if input_errors.present? %>
        <% input_errors.each do |error| %>
          <p class='text-danger'><%= error.full_message %></p>
        <% end %>
      <% end %>
    </div>

    <div class='mb-3'>
      <%= f.label :name, 'グループ名', class: 'fw-bolder mb-2' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class='d-flex justify-content-center'>
      <%= f.submit class: 'btn btn-success me-4', data: { turbo: false } %>
      <%= link_to 'キャンセル', root_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
