<h4>グループ作成</h4>
<%= turbo_frame_tag 'new_group' do %>
  <%= link_to 'フォームを開く', new_group_path %>
<% end %>

<h4>参加中のグループ一覧</h4>
<table class="table">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>オーナー</th>
      <th>人数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @belonging_groups.each do |belonging_group| %>
      <tr class='align-middle'>
        <td><%= belonging_group.name %></td>
        <td><%= belonging_group.decorate.owner_name %></td>
        <td><%= belonging_group.decorate.user_count %></td>
        <td><%= link_to 'みる', group_path(belonging_group), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
