<%= render 'groups/second_header', group: @group %>

<h4 class='text-center mb-3'><%= @group.name %></h4>

<h5><%= @place.name %></h5>

<% if @place.url.present? %>
  <%= link_to 'サイトへ', @place.url, target: :_blank, class: 'text-decoration-none' %>
<% end %>

<%= @place.decorate.display_description %>

<%= link_to '編集する', edit_group_place_path(@group, @place), class: 'btn btn-success' %>

<%= button_to '行った！', group_place_visited_places_path(@group, @place),
  class: 'btn btn-warning',
  data: { turbo_confirm: '行った登録しますか？' }
%>

<%= link_to '行きたいところ一覧へ', group_path(@group), class: 'btn btn-success' %>
